// @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


body {
  margin: 0;
  padding: 20px 40px;
  // font-family: 'Oswald', sans-serif;
  // font-family: 'Aboreto', cursive;
  font-family: 'Lobster',
    cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}